<div class="author-feature wrap-bg">
	<img src="/images/alex-nibbler.jpg">
	<div class="author-feature-info">
		<h1>Alex Vance</h1>
		<h2>Web Developer</h2>
		<p>Alex Vance is a full-stack web developer from Huntington, West Virginia. He proudly works for <a href="http://www.bulldogcreative.com" target="_BLANK">Bulldog Creative Services</a> and is a 2014 graduate of the <a href="http://www.makersquare.com" target="_BLANK">Maker Square (now Hack Reactor)</a> coding bootcamp in Austin, Texas.</p>
		<p>He's a lifelong fan of Marshall Thundering Herd football and basketball (hence the name of this website). Kickball superstar but extremely mediocre golfer, chess player, and runner. His cat Nibbler gets far too much attention.</p>
	</div>
</div>