<!--header>
	<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	{{ with .Site.Menus.main }}
	<nav>
		<ul>
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</header-->

{{ $cat := .Param "cat"}}
{{ $imageContain := .Param "imageContain"}}

{{if eq $cat "post"}}
	<div class="article-image" style="background-image:url(/images/{{ .Params.image }});{{if $imageContain}} background-size:contain;{{ end }}"></div>
	<div class="parallax">
{{ end }}

{{ partial "nav" .}}
	


