{{ define "main" }}

<article class="article">
			
	<header class="article-header wrap-bg flex">
		<div class="article-header-text">
			<h1 class="article-header-title">{{ .Title }}</h1>
			<div class="article-header-byline">
				<strong class="article-header-author">Alex Vance</strong> | 
				<time datetime="2019-09-06" class="article-header-date">{{ dateFormat "January 2, 2006" .Date }}</time>
				<!--span class="article-category travel">Travel</span-->
			</div>
		</div>
	</header>
	
	<main class="wrap-bg">
		<div class="article-main-content">
			{{- .Content -}}
		</div>
	</main>

	<footer class="article-footer">
		{{ partial "author" . }}
	</footer>

</article>

<section class="wrap-pad related-articles">
	<h1 class="section-title white-text">Related Articles</h1>
	<div class="related-articles-wrap">
		<div class="related-article">
			<a href="/article.php">
				<div class="related-article-image" style="background-image:url(/images/siesta-key-sunset.jpg);"></div>
				<h2 class="related-article-title">Not Good For Bubbers</h2>
			</a>
		</div>
		<div class="related-article">
			<a href="/article.php">
				<div class="related-article-image" style="background-image:url(/images/vesuvius-2.jpg);"></div>
				<h2 class="related-article-title">Surprisingly, No Ohioans Have Driven into this Lake</h2>
			</a>
		</div>
		<!--div class="related-article">
			<a href="/article.php">
				<div class="related-article-image" style="background-image:url(/assets/images/winston-salem-snow.jpg);"></div>
				<h2 class="related-article-title">What the hell? Why is it snowing in North Carolina in early December?</h2>
			</a>
		</div-->
	</div>
</section>
{{ end }}