{{ define "main" }}

{{ range first 1 (where .Site.RegularPages "Section" "in" (slice "posts")) }}

	<article class="home-feature cover flex rel" style="background-image:url(/images/{{ .Params.image }});">
		<a class="block-link" href="{{ .Permalink }}">
			<div class="home-feature-text on-topper centered center rel">
				<h1 class="white-text no-mar">{{ .Title }}</h1>
				<h2 style="padding-top: 20px;">{{ .Content | plainify | truncate 300 }}</h2>
			</div>
			<div class="overlay"></div>
		</a>
	</article>

{{ end }}

<main class="main-home">

	<div class="welcome wrap-pad centered">
		<p>Welcome to BallSoHerd.com, the personal site and blog of Alex Vance &mdash; a professional web developer and kickball superstar from Huntington, West Virginia.</p>
		<p>You'll find a lot of about web development here, but also a healthy mix of articles about sports (especially Marshall Thundering Herd football & basketball), travel, cats, gambling, and yes, maybe sometimes even politics.</p>
	</div>

	<div class="home-showcases">
		<div class="row">
			<div class="home-showcase col-6" style="background-image:url(/images/boise-night.jpg);">
				<a class="block-link" href="/posts/boise">
					<h1>Football Field Trip: Marshall @ Boise State</h1>
					<div class="overlay"></div>
				</a>
			</div>
			<div class="home-showcase col-6" style="background-image:url(/images/denver-golf.jpg);">
				<a class="block-link" href="/posts/boise">
					<h1>Here's a Really Fucking Cool Golf Course in Golden, Coloradopoooo sdlfkjsdflkjdsdslj  kj</h1>
					<div class="overlay"></div>
				</a>
			</div>
		</div>
	</div>

	<div class="home-articles">

		<h1 class="section-title">More Articles</h1>

		<div class="home-articles-sort row">
			<div class="col-6 home-articles-sort-sections">
				<!--button>Code</button>
				<button>Sports</button>
				<button>Politics</button>
				<button>Travel</button>
				<button>Fitness</button-->
			</div>
			<div class="col-6 home-articles-sort-search">
				<input class="centered upper" type="text" placeholder="Search Articles">
			</div>
		</div>

		<article class="home-article row">
			<a href="/posts/boise">
				<div class="home-article-text row">
					<div class="col-5">
						<img src="/images/stonewall-lake.jpg">
					</div>
					<div class="col-7">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<!--li>Sports</li>
								<li>Travel</li-->
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="home-article row">
			<a href="/posts/boise">
				<div class="home-article-text row">
					<div class="col-5">
						<img src="/images/new-river-bridge.jpg">
					</div>
					<div class="col-7">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="home-article row">
			<a href="/posts/boise">
				<div class="home-article-text row">
					<div class="col-5">
						<img src="/images/wilmington-beach.jpg">
					</div>
					<div class="col-7">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="home-article row">
			<a href="/posts/boise">
				<div class="home-article-text row">
					<div class="col-5">
						<img src="/images/cincinnati-hotel.jpg">
					</div>
					<div class="col-7">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>

		<article class="home-article row">
			<a href="/posts/boise">
				<div class="home-article-text row">
					<div class="col-5">
						<img src="/images/siesta-key-sunset.jpg">
					</div>
					<div class="col-7">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>

	</div>
	
	<div class="author-feature wrap-bg">
		<img src="/images/alex-nibbler.jpg">
		<div class="author-feature-info">
			<h1>Alex Vance</h1>
			<h2>Web Developer</h2>
			<p>Welcome to BallSoHerd.com, the personal site and blog of Alex Vance &mdash; a professional web developer and kickball superstar from Huntington, West Virginia. You'll find a lot of about web development here, but also a healthy mix of articles about sports (especially Marshall Thundering Herd football & basketball), travel, cats, gambling, and yes, maybe sometimes even politics.</p>
		</div>
	</div>

</main>

{{ end }}
