{{ define "main" }}
	<!--main>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main-->

<main class="main-home">

	<div class="welcome wrap-pad centered">
		<p>Welcome to BallSoHerd.com, the personal site and blog of Alex Vance &mdash; a professional web developer and kickball superstar from Huntington, West Virginia.</p>
		<p>You'll find a lot of about web development here, but also a healthy mix of articles about sports (especially Marshall Thundering Herd football & basketball), travel, cats, gambling, and yes, maybe sometimes even politics.</p>
	</div>
	<div class="home-articles-con">
		<article class="home-article row">
			<a href="/article.php">
				<div class="home-article-text row wrap-pad">
					<div class="col-4">
						<img src="/images/stonewall-lake.jpg">
					</div>
					<div class="col-8">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="home-article row">
			<a href="/article.php">
				<div class="home-article-text row wrap-pad">
					<div class="col-4">
						<img src="/images/stonewall-lake.jpg">
					</div>
					<div class="col-8">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
		<article class="home-article row">
			<a href="/article.php">
				<div class="home-article-text row wrap-pad">
					<div class="col-4">
						<img src="/images/stonewall-lake.jpg">
					</div>
					<div class="col-8">
						<h1>What in the Fuck is Going on in Huntington?</h1>
						<div class="home-article-byline row">
							<date class="home-article-date">December 27, 2018</date>
							<ul class="home-article-tags">
								<li>Sports</li>
								<li>Travel</li>
							</ul>
						</div>
						<div class="home-article-excerpt">
							<p>Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview. That's for goddamn sure. Aaaaand Here's some text about the above article that's very accurate and insightful. You're gonna have to fucking click on this article after reading this preview.</p>
						</div>
					</div>
				</div>
			</a>
		</article>
	</div>

	<!--section class="home-sections">
		<button>Code</button>
		<button>Sports</button>
		<button>Politics</button>
		<button>Travel</button>
		<button>Fitness</button>
	</section-->
	
	<div class="author-feature wrap-pad flex">
		<h1><span>Alex</span><span>Vance</span></h1>
		<h2>Web Developer</h2>
	</div>

</main>

{{ end }}
